html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #0A192F;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    cursor: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color:#0A192F;
}

::-webkit-scrollbar-thumb {
    background-color:#0d2242;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.sidebar-nav {
    width: 25%;
    background-color: #0C2342;
    height: 100vh;
    position: fixed;
}
.sidebar-nav .sidebar-header {
    width: 100%;
    height: 90px;
    background-color: #F45815;
    display: flex;
    align-items: center;
}
.sidebar-nav .sidebar-header .admin-profile {
    height: 70px;
    background-color: #ffff;
    border-radius: 50%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-right: 20px;
    border: 3px solid #fff;
}
.sidebar-nav .sidebar-header .admin-profile i{
    font-size: 35px;
    color: #F45815;
}
.sidebar-nav .sidebar-header .admin-details-top .admin-name{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}
.sidebar-nav .sidebar-header .admin-details-top .admin-role{
    font-size: 14px;
    color: #ffffff80;
}
.menu-link{
    padding-left: 30px;
    padding-right: 20px;
}

.sidebar-nav .sidebar-navigation {
    margin-top: 10px;
    width: 100%;
    height: calc(100vh - 100px);
}
.sidebar-nav .sidebar-navigation .nav-link {
    display: flex;
    height: 80px;
    align-items: center;
    margin-bottom: 3px;
}
.sidebar-nav .sidebar-navigation .nav-link:hover {
    background-color: #ffffff10;
}
.active {
    background-color: #ffffff10;
}
a {
    text-decoration: none;
}
.color {
    color: #F45815;
}
.sidebar-nav .sidebar-navigation .nav-link .nav-card{
    display: flex;
    color: #ffffff80;
    font-size: 16px;
    cursor: pointer;
}
.sidebar-nav .sidebar-navigation .nav-link .nav-card i{
    margin-right: 20px;
    font-size: 20px;
}
.hamburger {
    display: none;
}

/* ADMIN HOME MAIN SECTION */
.container .dashboard-content {
    padding: 30px;
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.container .dashboard-content .searchbar-top {
    width: 100%;
    background-color: #0C2342;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    color: #ffffff80;
}
.container .dashboard-content .searchbar-top .searchbar-section {
    display: flex;
    align-items: center;
}
.container .dashboard-content .searchbar-top .searchbar-section .search{
    margin-right: 25px;
    background-color: #ffffff20;
    outline: none;
    padding: 8px;
    border-radius: 6px;
    width: 300px;
    border: none;
}
.container .dashboard-content .searchbar-top .searchbar-section i{
    margin-right: 25px;
}
.container .dashboard-content .dashboard-main-content{
    width: 100%;
    margin-top: 20px;
    height: calc(100vh - 100px);
    display: flex;
}
.container .dashboard-content .dashboard-main-content .left-stats-col {
    width: 80%;
    height: 100%;
}
.left-top-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.left-top-stats-card {
    width: 33%;
    height: 200px;
    background-color: #0C2342;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: #ffffff80;
}
.card-header {
    display: flex;
    margin-bottom: 40px;
}
.card-header i{
    font-size: 30px;
    margin-right: 10px;
}
.card-header p{
    font-size: 20px;
    font-weight: 600;
    align-self: flex-end;
}
.card-numbers {
    font-size: 50px;
}
.left-stats-users {
    background-color: #0C2342;
    border-radius: 6px;
    color: #ffffff80;
    margin-top: 20px;
    width: 100%;
    height: calc(100% - 240px);
    padding: 15px;
}
.right-stats-col {
    margin-left: 20px;
    background-color: #0C2342;
    border-radius: 6px;
    width: 20%;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    padding: 8px;
    line-height: 27px;
}
.right-stats-col p {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff80;
    margin-bottom: 25px;
}
.left-stats-users h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 10px;
    text-align: left;
}
td i {
    margin-right: 10px;
    border-radius: 50%;
    background-color: #0A192F;
    padding: 8px;
    color: #ffffff80;
}

/* USERS SECTION */

.users-stats-col{
    background-color: #0C2342;
    border-radius: 6px;
    color: #ffffff80;
    margin-top: 20px;
    width: 100%;
    padding: 15px;
}
.user-controller-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
}

/* BLOGS SECTION */
.checker {
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.4px solid #F45815;
}
.blogs-stats-col {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.blogs-controller-btns {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 20px;
    padding-left: 10px;
}
.user-btn {
    background-color: #F45815;
    color: #fff;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}
.delete-btn {
    background-color: red;
    color: #fff;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}
.all-blogs {
    background-color: #0C2342;
    border-radius: 6px;
    color: #ffffff80;
    width: 100%;
    padding: 15px;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
}

.blogs .post {
    background: url(/images/about.avif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-radius: 4px;
    overflow: hidden;
}
.user-controller-btns-blogs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.post_content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.post .post_content .publication-date {
    font-size: 12px;
    color: rgba(250, 235, 215, 0.63);
    margin-bottom: 5px;
}

.post .post_content .headline {
    font-size: 15px;
    color: rgba(250, 235, 215, 0.815);
    margin-bottom: 12px;
}

.post .post_content .author {
    font-size: 12px;
    color: rgba(250, 235, 215, 0.63);
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.add-new {
    display: flex;
    flex-direction: column;
}
.add-new h1{
    font-size: 40px;
    margin-left: 50px;
}
.main-content-placeholder {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: flex-end;
}
.add-media-content {
    font-size: 20px;
    padding: 8px;
    border: 1px solid #F45815;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.view {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 20px;
}


/* PROJECTS SECTION */
.projects-stats-col{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.projects-controller-btns {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 20px;
}
.user-controller-btns-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.done {
    width: auto;
}
.all-projects {
    background-color: #0C2342;
    border-radius: 6px;
    color: #ffffff80;
    width: 100%;
    padding: 15px;
    height: calc(100% - 53px);
    overflow: scroll;
}

.work_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
}
.project {
    padding: 20px;
    background-color: #123058;
    border-radius: 4px;
    cursor: pointer;
}
.project h2{
    margin-bottom: 14px;
    color: #fff;
}
.project p {
    font-size: 13px;
    color: #ffffff7c;
    line-height: 20px;
    text-align: justify;
}

.project .languages {
    width: fit-content;
    margin-top: 20px;
}

.project .languages ul {
    display: flex;
    align-items: center;
}
.project .languages ul li {
    margin-right: 10px;
    color: #ffffff7c;
    list-style: none;
    font-size: 14px;
}

.project_icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.project_folder {
    font-size: 25px;
    color: #fff;
}

.project_icons .external i {
    margin-left: 12px;
    color: #ffffffcb;
    font-size: 14px;
}

/* ADDING NEW PROJECT SECTION */
.contact {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}
.right {
    width: 60%;
    margin-left: 8px;
    background-color: #0C2342;
    height: 100%;
}

.contact form {
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 6px;
    width: 90%;
    border-radius: 5px;
}

.contact form h3 {
    /* font-size: 2rem; */
    font-weight: 600;
    /* margin-bottom: 0.5rem; */
    text-align: left;
    color: #ffffff7c;
    margin-top: 30px;
}

.contact form input, form textarea {
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #F45815;
    outline: none;
    /* border-radius: 4px; */
    font-size: 14px;
    color: #ffffff2d;
}
.contact form input[type="text"]:focus,
textarea:focus {
  outline: none;
}

.contact form textarea {
    resize: vertical;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

.add-project {
    border-radius: 6px;
    color: #ffffff80;
    width: 100%;
    /* padding: 15px; */
    height: calc(100% - 53px);
    display: flex;
}

.Project_preview {
    background-color: #0C2342;
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
}
.Project_preview h3{
    margin-bottom: 20px;
}

/* END ADDING NEW PROJECT SECTION */


/* CERTIFICATIONS SECTION */
.media-stats-col {
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
}
.media-controller-btns {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 20px;
}
.user-controller-btns-certifications {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.all-photos {
    background-color: #0C2342;
    border-radius: 6px;
    color: #ffffff80;
    width: 100%;
    padding: 15px;
    height: auto;
    overflow: scroll;
}
.media-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
}
.photo {
    background-color: #123058;
    border-radius: 4px;
    cursor: pointer;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/profile.jpg);
}
/* END OF CERTIFICATION SECTION */