.wrapper-diamond {
    transform: rotate(45deg);
    padding-top: 160px;
    padding-left: 100px;
}

.box {
    display: inline-block;
    height: 80px;
    width: 80px;
    overflow: hidden;
    
    
    position: relative;
}
.box-1::before {
    content: "Javascript";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F45815;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: opacity 0.3s;
}
.box-2::before {
    content: "MongoDb";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F45815;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: opacity 0.3s;
}
.box-3::before {
    content: "MySql";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F45815;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: opacity 0.3s;
}
.box-4::before {
    content: "Next Js";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F45815;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: opacity 0.3s;
}
.box-5::before {
    content: "Python";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F45815;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: opacity 0.3s;
}
.box-6::before {
    content: "Node Js";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F45815;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: opacity 0.3s;
}
.box-7::before {
    content: "React";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F45815;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: opacity 0.3s;
}
.box-8::before {
    content: "Typescript";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F45815;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: opacity 0.3s;
}
.box-9::before {
    content: "Wordpress";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F45815;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: opacity 0.3s;
}
.box:hover::before {
    opacity: 0;
}
.box:hover {
    border: 0.3px solid #F45815;
    transform: scale(1.1);
    z-index: 1;
    transition: all .4s;
    border-radius: 5px;
    cursor: pointer;
}
.box-1 {
    background-image: url(./images/JS.png);
    background-size: cover;
    border-radius: 5px 0 0 0;
}
.box-2 {
    background-image: url(./images/Mongodb.png);
    background-size: cover;
}
.box-3 {
    background-image: url(./images/mysql.png);
    background-size: contain;
    border-radius: 0 5px 0 0;
}
.box-4 {
    background-image: url(./images/Nextjs.jfif);
    background-size: cover;
    
}
.box-5 {
    background-image: url(./images/Python.jfif);
    background-size: cover;
}
.box-6 {
    background-image: url(./images/Node.png);
    background-size: contain;
}
.box-7 {
    background-image: url(./images/react.png);
    background-size: cover;
    border-radius: 0 0 0 5px;
}
.box-8 {
    background-image: url(./images/TS.png);
    background-size: cover;
}
.box-9 {
    background-image: url(./images/Wordpress.png);
    background-size: cover;
    border-radius: 0 0 5px 0;
}

.box:hover {
    background-color: #F45815;
}